<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.daoha.infrastructure.dao.IDailyBehaviorLogDao">

    <resultMap id="DailyBehaviorLogMap" type="top.daoha.infrastructure.dao.po.DailyBehaviorLog">
        <id column="log_id" property="logId"/>
        <result column="user_id" property="userId"/>
        <result column="record_date" property="recordDate"/>
        <result column="behaviors_data" property="behaviorsData"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="top.daoha.infrastructure.dao.po.DailyBehaviorLog" useGeneratedKeys="true" keyProperty="logId">
        INSERT INTO daily_behavior_log(user_id, record_date, behaviors_data)
        VALUES(#{userId}, #{recordDate}, #{behaviorsData})
    </insert>

    <select id="selectById" parameterType="java.lang.Long" resultMap="DailyBehaviorLogMap">
        SELECT log_id, user_id, record_date, behaviors_data,
               is_deleted, create_time, update_time
        FROM daily_behavior_log
        WHERE log_id = #{logId} AND is_deleted = 0
    </select>

    <select id="selectByUserId" parameterType="java.lang.Long" resultMap="DailyBehaviorLogMap">
        SELECT log_id, user_id, record_date, behaviors_data,
               is_deleted, create_time, update_time
        FROM daily_behavior_log
        WHERE user_id = #{userId} AND is_deleted = 0
        ORDER BY record_date DESC
    </select>

    <select id="selectByUserIdAndDate" resultMap="DailyBehaviorLogMap">
        SELECT log_id, user_id, record_date, behaviors_data,
               is_deleted, create_time, update_time
        FROM daily_behavior_log
        WHERE user_id = #{userId} AND record_date = #{recordDate} AND is_deleted = 0
    </select>

    <update id="updateById" parameterType="top.daoha.infrastructure.dao.po.DailyBehaviorLog">
        UPDATE daily_behavior_log
        <set>
            <if test="behaviorsData != null">behaviors_data = #{behaviorsData},</if>
        </set>
        WHERE log_id = #{logId} AND is_deleted = 0
    </update>

    <update id="deleteById" parameterType="java.lang.Long">
        UPDATE daily_behavior_log SET is_deleted = 1 WHERE log_id = #{logId}
    </update>

</mapper>
